<section id='details'>
    <h2>Room Name: <%= data[0].roomName %></h2>
    <p>Temperature: <%= data[0].temperature %></p>
    <p>Sound level: <%= data[0].soundLevel %></p>
    <p>Ambient Light: <%= data[0].ambientLight %></p>
    <p>Co2: <%= data[0].co2 %></p>
    <p>Humidity: <%= data[0].humidity %></p>
</section>