<section class="room centering">
    <h2 class="<%=room.occupancy%>"><%= room.roomName %></h2>
    <section class="currentInfo-container centering">
        <div class="currentInfo temperature centering">
            <p>Temperature</p>
            <h3><%= room.temperature %> c&deg</h3>
        </div>
        <div class="currentInfo soundLevel centering">
            <p>Sound Level</p>
            <h3><%= room.soundLevel %></h3>
        </div>
        <div class="currentInfo ambientLight centering">
            <p>Ambient Light</p>
            <h3><%= room.ambientLight %></h3>
        </div>
        <div class="currentInfo co2 centering">
            <p>CO2</p>
            <h3><%= room.co2 %></h3>
        </div>
        <div class="currentInfo humidity centering">
            <p>Humidty</p>
            <h3><%= room.humidity %></h3>
        </div>
    </section>
    <nav class="favorites">
        <input name="notifaction" type="checkbox" id="n_<%= room.roomName %>">
        <label for="n_<%= room.roomName %>">
            <svg id="Laag_1" data-name="Laag 1" viewBox="0 0 430.58 410.43">
                <title>notifaction</title>
                <path d="M184,44c.35-5.79.14-12.41,1.26-18.79C187.93,10.35,202.06-.73,216.51,0a31.31,31.31,0,0,1,29.35,27.89,60.5,60.5,0,0,1,.25,11c-.38,4.52,1.06,6.4,5.7,7.78,38.49,11.41,67.05,34.87,84.43,71.3a125.53,125.53,0,0,1,12.21,54.68c0,36.48.05,73-.07,109.43a10.09,10.09,0,0,0,3.33,7.93q17.66,17.31,34.91,35a12.13,12.13,0,0,1,2.88,7c.43,5.2.13,10.46.13,16H41.28c0-6.44-.17-12.81.13-19.15.07-1.44,1.58-3,2.75-4.18,11.49-11.6,23-23.18,34.62-34.61a10.16,10.16,0,0,0,3.33-8c-.1-35.19-.29-70.39,0-105.59.43-52.93,23.48-92.94,69.77-118.88C161.79,52.15,172.88,48.67,184,44Z"/>
                <path d="M318.35,32.93c9.5-9.49,18.88-18.85,28.68-28.65,51.48,40.43,78.25,94,83.55,159.42-2.11.17-3.5.36-4.89.37-10.72,0-21.44-.07-32.15.06-3.12,0-4.43-.72-4.76-4.17-4.17-43.58-20.94-81.31-52.7-111.88C330.46,42.67,324.21,37.91,318.35,32.93Z"/>
                <path d="M0,163.7C5.66,97.6,34.22,44.68,85.63,4.34l28.81,28.82c-45,31.37-68.08,75.77-73.18,130.54Z"/>
                <path d="M174.84,368.91h81.64c-1.63,13.66-5.83,26-17.19,34.26-14.06,10.23-29.29,8.71-43.92,1.25C181.93,397.57,173.54,382.31,174.84,368.91Z"/>
            </svg>
        </label>
    </nav>
</section>