<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
    <link rel="stylesheet" href="./style/main.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <main id="container" class="centering">
        <form action="/filter" class="centering" method="POST">
            <div id="rooms" class="centering">
                <% keys.forEach((key,index)=>{ %>
                    <% if(index === 0 && checked === ''){ %>
                        <input name="info" value="<%=key%>" type="radio" id="<%=key%>" checked>
                    <% } else {%>
                        <% if(checked === key ) {%>
                            <input name="info" value="<%=key%>" type="radio" id="<%=key%>" checked>
                        <% } else { %>
                            <input name="info" value="<%=key%>" type="radio" id="<%=key%>">
                        <% } %>
                    <% } %>
                <% }) %>
                <input type="checkbox" id="toggleSort_filter">
                <nav id="sort_filter">
                    <div class="sortItem">
                        <p>Sorteer van:</p>
                        <select name="sortOption" id="sortOption">
                            <option value="High">Hoog naar Laag</option>
                            <option value="Low">Laag naar Hoog</option>
                        </select>
                    </div>
                    <div class="availabilty">
                        <p>Filter op beschikbaarheid:</p>
                        <select name="availabilty" id="availabilty">
                            <option value="geen">Niet Filteren</option>
                            <option value="false">Beschikbaar</option>
                            <option value="true">Bezet</option>
                        </select>
                    </div>
                    <button type="submit"> 
                        submit
                    </button>
                </nav>
                <div id="rooms-wrapper">
                    <nav id="navigation">
                        <% keys.forEach(key=>{ %>
                            <label class="<%=key%> centering" for="<%=key%>">
                                <img src="./img/navitems/<%= key %>.png" alt="">
                            </label>
                        <% }) %>
                    </nav>
                    
                    <label class="toggleSort_filter centering" for="toggleSort_filter">Sorteer of Filter</label>
                    <section class="justAnotherContainer">
                        <% data.forEach((room,roomID)=>{ %>
                            <% include partials/room %> 
                        <% }) %>
                    </section>
                </div> 
            </div>
        </form>
        </main>
    <script src="./scripts/script.js"></script>
</body>
</html>
